/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_rentq";
    src: url("../fonts/flaticon_rentq.woff2?149cec814e1d7cd76ef614c2c9064702") format("woff2"),
url("../fonts/flaticon_rentq.woff?149cec814e1d7cd76ef614c2c9064702") format("woff"),
url("../fonts/flaticon_rentq.eot?149cec814e1d7cd76ef614c2c9064702#iefix") format("embedded-opentype"),
url("../fonts/flaticon_rentq.ttf?149cec814e1d7cd76ef614c2c9064702") format("truetype"),
url("../fonts/flaticon_rentq.svg?149cec814e1d7cd76ef614c2c9064702#flaticon_rentq") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_rentq !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-check-mark:before {
    content: "\f101";
}
.flaticon-checked:before {
    content: "\f102";
}
.flaticon-check:before {
    content: "\f103";
}
.flaticon-tag:before {
    content: "\f104";
}
.flaticon-tag-1:before {
    content: "\f105";
}
.flaticon-price-tag:before {
    content: "\f106";
}
.flaticon-tag-2:before {
    content: "\f107";
}
.flaticon-calendar:before {
    content: "\f108";
}
.flaticon-schedule:before {
    content: "\f109";
}
.flaticon-heart:before {
    content: "\f10a";
}
.flaticon-like:before {
    content: "\f10b";
}
.flaticon-close:before {
    content: "\f10c";
}
.flaticon-plus:before {
    content: "\f10d";
}
.flaticon-minus:before {
    content: "\f10e";
}
.flaticon-save-instagram:before {
    content: "\f10f";
}
.flaticon-bookmark:before {
    content: "\f110";
}
.flaticon-view:before {
    content: "\f111";
}
.flaticon-hide:before {
    content: "\f112";
}
.flaticon-padlock:before {
    content: "\f113";
}
.flaticon-unlock:before {
    content: "\f114";
}
.flaticon-star:before {
    content: "\f115";
}
.flaticon-star-1:before {
    content: "\f116";
}
.flaticon-star-2:before {
    content: "\f117";
}
.flaticon-setting:before {
    content: "\f118";
}
.flaticon-settings:before {
    content: "\f119";
}
.flaticon-shopping-cart:before {
    content: "\f11a";
}
.flaticon-grocery-store:before {
    content: "\f11b";
}
.flaticon-shopping-bag:before {
    content: "\f11c";
}
.flaticon-shopping-bag-1:before {
    content: "\f11d";
}
.flaticon-info:before {
    content: "\f11e";
}
.flaticon-info-1:before {
    content: "\f11f";
}
.flaticon-warning:before {
    content: "\f120";
}
.flaticon-warning-1:before {
    content: "\f121";
}
.flaticon-exclamation:before {
    content: "\f122";
}
.flaticon-menu:before {
    content: "\f123";
}
.flaticon-dots:before {
    content: "\f124";
}
.flaticon-dots-menu:before {
    content: "\f125";
}
.flaticon-play-button-arrowhead:before {
    content: "\f126";
}
.flaticon-play-button:before {
    content: "\f127";
}
.flaticon-play-button-1:before {
    content: "\f128";
}
.flaticon-download:before {
    content: "\f129";
}
.flaticon-downloading:before {
    content: "\f12a";
}
.flaticon-download-to-storage-drive:before {
    content: "\f12b";
}
.flaticon-like-1:before {
    content: "\f12c";
}
.flaticon-like-2:before {
    content: "\f12d";
}
.flaticon-dislike:before {
    content: "\f12e";
}
.flaticon-dislike-1:before {
    content: "\f12f";
}
.flaticon-bell:before {
    content: "\f130";
}
.flaticon-bell-1:before {
    content: "\f131";
}
.flaticon-left-chevron:before {
    content: "\f132";
}
.flaticon-up-arrow:before {
    content: "\f133";
}
.flaticon-down-arrow:before {
    content: "\f134";
}
.flaticon-chevron:before {
    content: "\f135";
}
.flaticon-right-arrow:before {
    content: "\f136";
}
.flaticon-left-arrow:before {
    content: "\f137";
}
.flaticon-user:before {
    content: "\f138";
}
.flaticon-user-1:before {
    content: "\f139";
}
.flaticon-user-2:before {
    content: "\f13a";
}
.flaticon-user-3:before {
    content: "\f13b";
}
.flaticon-edit:before {
    content: "\f13c";
}
.flaticon-edit-1:before {
    content: "\f13d";
}
.flaticon-edit-text:before {
    content: "\f13e";
}
.flaticon-email:before {
    content: "\f13f";
}
.flaticon-email-1:before {
    content: "\f140";
}
.flaticon-email-2:before {
    content: "\f141";
}
.flaticon-phone-call:before {
    content: "\f142";
}
.flaticon-telephone:before {
    content: "\f143";
}
.flaticon-customer-service:before {
    content: "\f144";
}
.flaticon-location:before {
    content: "\f145";
}
.flaticon-maps-and-flags:before {
    content: "\f146";
}
.flaticon-location-1:before {
    content: "\f147";
}
.flaticon-worldwide:before {
    content: "\f148";
}
.flaticon-home:before {
    content: "\f149";
}
.flaticon-home-1:before {
    content: "\f14a";
}
.flaticon-home-2:before {
    content: "\f14b";
}
.flaticon-search-interface-symbol:before {
    content: "\f14c";
}
.flaticon-search:before {
    content: "\f14d";
}
.flaticon-people:before {
    content: "\f14e";
}
.flaticon-multiple-users-silhouette:before {
    content: "\f14f";
}
.flaticon-trash-bin:before {
    content: "\f150";
}
.flaticon-bin:before {
    content: "\f151";
}
.flaticon-target:before {
    content: "\f152";
}
.flaticon-target-1:before {
    content: "\f153";
}
.flaticon-facebook:before {
    content: "\f154";
}
.flaticon-facebook-1:before {
    content: "\f155";
}
.flaticon-instagram:before {
    content: "\f156";
}
.flaticon-instagram-1:before {
    content: "\f157";
}
.flaticon-youtube:before {
    content: "\f158";
}
.flaticon-youtube-1:before {
    content: "\f159";
}
.flaticon-tik-tok:before {
    content: "\f15a";
}
.flaticon-tik-tok-1:before {
    content: "\f15b";
}
.flaticon-whatsapp:before {
    content: "\f15c";
}
.flaticon-whatsapp-1:before {
    content: "\f15d";
}
.flaticon-linkedin:before {
    content: "\f15e";
}
.flaticon-linkedin-1:before {
    content: "\f15f";
}
.flaticon-twitter:before {
    content: "\f160";
}
.flaticon-twitter-1:before {
    content: "\f161";
}
.flaticon-snapchat:before {
    content: "\f162";
}
.flaticon-snapchat-1:before {
    content: "\f163";
}
.flaticon-pinterest:before {
    content: "\f164";
}
.flaticon-pinterest-1:before {
    content: "\f165";
}
.flaticon-messenger:before {
    content: "\f166";
}
.flaticon-chat:before {
    content: "\f167";
}
.flaticon-telegram:before {
    content: "\f168";
}
.flaticon-telegram-1:before {
    content: "\f169";
}
.flaticon-wechat:before {
    content: "\f16a";
}
.flaticon-wechat-1:before {
    content: "\f16b";
}
.flaticon-quora:before {
    content: "\f16c";
}
.flaticon-quora-1:before {
    content: "\f16d";
}
.flaticon-reddit:before {
    content: "\f16e";
}
.flaticon-reddit-logo:before {
    content: "\f16f";
}
.flaticon-discord:before {
    content: "\f170";
}
.flaticon-discord-1:before {
    content: "\f171";
}
.flaticon-twitch:before {
    content: "\f172";
}
.flaticon-twitch-1:before {
    content: "\f173";
}
.flaticon-threads:before {
    content: "\f174";
}
.flaticon-threads-1:before {
    content: "\f175";
}
.flaticon-dribble:before {
    content: "\f176";
}
.flaticon-dribble-1:before {
    content: "\f177";
}
.flaticon-behance:before {
    content: "\f178";
}
.flaticon-behance-1:before {
    content: "\f179";
}
.flaticon-vimeo:before {
    content: "\f17a";
}
.flaticon-vimeo-1:before {
    content: "\f17b";
}
.flaticon-google:before {
    content: "\f17c";
}
.flaticon-dropbox:before {
    content: "\f17d";
}
.flaticon-dropbox-1:before {
    content: "\f17e";
}
.flaticon-vkontakte:before {
    content: "\f17f";
}
.flaticon-vk:before {
    content: "\f180";
}
.flaticon-playstore:before {
    content: "\f181";
}
.flaticon-app:before {
    content: "\f182";
}
.flaticon-customer-support:before {
    content: "\f183";
}
.flaticon-wrench:before {
    content: "\f184";
}
.flaticon-insurance:before {
    content: "\f185";
}
.flaticon-secure-payment:before {
    content: "\f186";
}
.flaticon-location-2:before {
    content: "\f187";
}
.flaticon-track:before {
    content: "\f188";
}
.flaticon-baby-car-seat:before {
    content: "\f189";
}
.flaticon-briefcase:before {
    content: "\f18a";
}
.flaticon-air-conditioner:before {
    content: "\f18b";
}
.flaticon-automatic-transmission:before {
    content: "\f18c";
}
.flaticon-price-tag-1:before {
    content: "\f18d";
}
.flaticon-protection:before {
    content: "\f18e";
}
.flaticon-24-hours-support:before {
    content: "\f18f";
}
.flaticon-support:before {
    content: "\f190";
}
.flaticon-booking:before {
    content: "\f191";
}
.flaticon-calendar-1:before {
    content: "\f192";
}
.flaticon-booking-online:before {
    content: "\f193";
}
.flaticon-hands:before {
    content: "\f194";
}
.flaticon-returning-customer:before {
    content: "\f195";
}
.flaticon-work-schedule:before {
    content: "\f196";
}
.flaticon-real-time:before {
    content: "\f197";
}
.flaticon-tripadvisor:before {
    content: "\f198";
}
.flaticon-yelp:before {
    content: "\f199";
}
.flaticon-social:before {
    content: "\f19a";
}
.flaticon-car-insurance:before {
    content: "\f19b";
}
.flaticon-punctuality:before {
    content: "\f19c";
}
.flaticon-chauffeur:before {
    content: "\f19d";
}
.flaticon-dance:before {
    content: "\f19e";
}
.flaticon-luxury:before {
    content: "\f19f";
}
.flaticon-handshake:before {
    content: "\f1a0";
}
.flaticon-innovation:before {
    content: "\f1a1";
}
.flaticon-innovation-1:before {
    content: "\f1a2";
}
.flaticon-collaboration:before {
    content: "\f1a3";
}
.flaticon-safety:before {
    content: "\f1a4";
}
.flaticon-car-service:before {
    content: "\f1a5";
}
.flaticon-car:before {
    content: "\f1a6";
}
.flaticon-quality-assurance:before {
    content: "\f1a7";
}
.flaticon-parking-area:before {
    content: "\f1a8";
}
.flaticon-warning-2:before {
    content: "\f1a9";
}
.flaticon-car-1:before {
    content: "\f1aa";
}
.flaticon-blind-spot:before {
    content: "\f1ab";
}
.flaticon-car-wheel:before {
    content: "\f1ac";
}
.flaticon-car-2:before {
    content: "\f1ad";
}
.flaticon-location-3:before {
    content: "\f1ae";
}
.flaticon-insurance-1:before {
    content: "\f1af";
}
.flaticon-tools:before {
    content: "\f1b0";
}
.flaticon-minibus:before {
    content: "\f1b1";
}
.flaticon-city-map:before {
    content: "\f1b2";
}
.flaticon-steering-wheel:before {
    content: "\f1b3";
}
.flaticon-credit-card:before {
    content: "\f1b4";
}
.flaticon-bike-helmet:before {
    content: "\f1b5";
}
.flaticon-bike:before {
    content: "\f1b6";
}
.flaticon-contract:before {
    content: "\f1b7";
}
.flaticon-bike-lane:before {
    content: "\f1b8";
}
.flaticon-truck:before {
    content: "\f1b9";
}
.flaticon-van:before {
    content: "\f1ba";
}
.flaticon-car-sharing:before {
    content: "\f1bb";
}
.flaticon-segway:before {
    content: "\f1bc";
}
.flaticon-bus:before {
    content: "\f1bd";
}
.flaticon-hand:before {
    content: "\f1be";
}
.flaticon-scooter:before {
    content: "\f1bf";
}
.flaticon-website:before {
    content: "\f1c0";
}
.flaticon-sustainability:before {
    content: "\f1c1";
}
.flaticon-taxi:before {
    content: "\f1c2";
}
.flaticon-search-1:before {
    content: "\f1c3";
}
.flaticon-car-key:before {
    content: "\f1c4";
}
.flaticon-skateboard:before {
    content: "\f1c5";
}
.flaticon-electric-car:before {
    content: "\f1c6";
}
.flaticon-app-1:before {
    content: "\f1c7";
}
.flaticon-suv:before {
    content: "\f1c8";
}
.flaticon-drivers-license:before {
    content: "\f1c9";
}
.flaticon-motorbike:before {
    content: "\f1ca";
}
.flaticon-air-conditioning:before {
    content: "\f1cb";
}
.flaticon-calendar-2:before {
    content: "\f1cc";
}
.flaticon-car-radio:before {
    content: "\f1cd";
}
.flaticon-convertible-car:before {
    content: "\f1ce";
}
.flaticon-garage:before {
    content: "\f1cf";
}
.flaticon-helmet:before {
    content: "\f1d0";
}
.flaticon-hoverboard:before {
    content: "\f1d1";
}
.flaticon-limousine:before {
    content: "\f1d2";
}
.flaticon-battery:before {
    content: "\f1d3";
}
.flaticon-monowheel:before {
    content: "\f1d4";
}
.flaticon-parking-sign:before {
    content: "\f1d5";
}
.flaticon-price:before {
    content: "\f1d6";
}
.flaticon-rating:before {
    content: "\f1d7";
}
.flaticon-school-bus:before {
    content: "\f1d8";
}
.flaticon-self-service:before {
    content: "\f1d9";
}
.flaticon-time:before {
    content: "\f1da";
}
.flaticon-bike-1:before {
    content: "\f1db";
}
.flaticon-wifi:before {
    content: "\f1dc";
}
.flaticon-bus-1:before {
    content: "\f1dd";
}
.flaticon-car-3:before {
    content: "\f1de";
}
.flaticon-elevator:before {
    content: "\f1df";
}
.flaticon-rickshaw:before {
    content: "\f1e0";
}
.flaticon-mileage:before {
    content: "\f1e1";
}
.flaticon-bicycle:before {
    content: "\f1e2";
}
.flaticon-motorbike-1:before {
    content: "\f1e3";
}
.flaticon-crossroad:before {
    content: "\f1e4";
}
.flaticon-bus-2:before {
    content: "\f1e5";
}
.flaticon-stop-watch:before {
    content: "\f1e6";
}
.flaticon-rocket:before {
    content: "\f1e7";
}
.flaticon-truck-1:before {
    content: "\f1e8";
}
.flaticon-car-4:before {
    content: "\f1e9";
}
.flaticon-stop-sign:before {
    content: "\f1ea";
}
.flaticon-truck-2:before {
    content: "\f1eb";
}
.flaticon-tanker:before {
    content: "\f1ec";
}
.flaticon-bus-3:before {
    content: "\f1ed";
}
.flaticon-sports-car:before {
    content: "\f1ee";
}
.flaticon-bus-4:before {
    content: "\f1ef";
}
.flaticon-scooter-1:before {
    content: "\f1f0";
}
.flaticon-ship:before {
    content: "\f1f1";
}
.flaticon-yacht:before {
    content: "\f1f2";
}
.flaticon-battery-1:before {
    content: "\f1f3";
}
.flaticon-van-1:before {
    content: "\f1f4";
}
.flaticon-truck-3:before {
    content: "\f1f5";
}
.flaticon-mover-truck:before {
    content: "\f1f6";
}
.flaticon-school-bus-1:before {
    content: "\f1f7";
}
.flaticon-ship-1:before {
    content: "\f1f8";
}
.flaticon-truck-4:before {
    content: "\f1f9";
}
.flaticon-ticket:before {
    content: "\f1fa";
}
.flaticon-sailboat:before {
    content: "\f1fb";
}
.flaticon-van-2:before {
    content: "\f1fc";
}
.flaticon-truck-5:before {
    content: "\f1fd";
}
.flaticon-school-bus-2:before {
    content: "\f1fe";
}
.flaticon-stop-watch-1:before {
    content: "\f1ff";
}
.flaticon-car-5:before {
    content: "\f200";
}

